:root{
    --white-corlor: #fff;
    --black-color: #000;
    --text-color: #333;
    --star-gold: rgb(243, 215, 4);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62,5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}